.sprite { background: url('sprite.png') no-repeat top left; width: 50px; height: 50px;  } 
.sprite.01a { background-position: 0 0; } 
.sprite.01b { background-position: -52px 0; } 
.sprite.01c { background-position: -104px 0; } 
.sprite.02a { background-position: -156px 0; } 
.sprite.02b { background-position: -208px 0; } 
.sprite.02c { background-position: -260px 0; } 
.sprite.03a { background-position: -312px 0; } 
.sprite.03b { background-position: -364px 0; } 
.sprite.03c { background-position: -416px 0; } 
.sprite.04a { background-position: -468px 0; } 
.sprite.04b { background-position: -520px 0; } 
.sprite.04c { background-position: -572px 0; } 
.sprite.05a { background-position: -624px 0; } 
.sprite.05b { background-position: -676px 0; } 
.sprite.05c { background-position: -728px 0; } 
.sprite.06a { background-position: -780px 0; } 
.sprite.06b { background-position: -832px 0; } 
.sprite.06c { background-position: -884px 0; } 
.sprite.07a { background-position: -936px 0; } 
.sprite.07b { background-position: -988px 0; } 
.sprite.07c { background-position: -1040px 0; } 
.sprite.08a { background-position: -1092px 0; } 
.sprite.08b { background-position: -1144px 0; } 
.sprite.08c { background-position: -1196px 0; } 
.sprite.09a { background-position: -1248px 0; } 
.sprite.09b { background-position: -1300px 0; } 
.sprite.09c { background-position: -1352px 0; } 
.sprite.10a { background-position: -1404px 0; } 
.sprite.10b { background-position: -1456px 0; } 
.sprite.10c { background-position: -1508px 0; } 
.sprite.11a { background-position: -1560px 0; } 
.sprite.11b { background-position: -1612px 0; } 
.sprite.11c { background-position: -1664px 0; } 
.sprite.12a { background-position: -1716px 0; } 
.sprite.12b { background-position: -1768px 0; } 
.sprite.12c { background-position: -1820px 0; } 
.sprite.13a { background-position: -1872px 0; } 
.sprite.13b { background-position: -1924px 0; } 
.sprite.13c { background-position: -1976px 0; } 
.sprite.14a { background-position: -2028px 0; } 
.sprite.14b { background-position: -2080px 0; } 
.sprite.14c { background-position: -2132px 0; } 
.sprite.15a { background-position: -2184px 0; } 
.sprite.15b { background-position: -2236px 0; } 
.sprite.15c { background-position: -2288px 0; } 
.sprite.16a { background-position: -2340px 0; } 
.sprite.16b { background-position: -2392px 0; } 
.sprite.16c { background-position: -2444px 0; } 